<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <title>Woof YSWS</title>
</head>
<body>
    <div class="centered-container">
         <h1 class="paws-font woof">Woof!</h1>
         <p class="chewy-regular">Spend 5 hours making a dog themed website and get a dog plushie!</p>
     </div>

     <div class="faq-section">
         <h2 class="chewy-regular" style="font-size: 50px">FAQ</h2>
         <details class="faq-item">
             <summary class="chewy-regular">What is Woof?</summary>
             <p class="chewy-regular">Woof is a Hack Club YSWS where we'll send you a dog plushie if you ship a project to do with dogs!</p>
         </details>
         <details class="faq-item">
             <summary class="chewy-regular">What is Hackatime?</summary>
             <p class="chewy-regular">Hackatime is an Editor extension that tracks the time you spend coding! You can install it <a href="https://hackatime.hackclub.com/">here</a></p>
         </details>
         <details class="faq-item">
             <summary class="chewy-regular">How do I participate?</summary>
             <p class="chewy-regular">Join our Slack <a href="https://hackclub.com/slack/">here</a>. Spend over 5 hours (tracked with Hackatime) building a project to do with cats, fill out the form, and we'll send you a plushie.</p>
         </details>
         <details class="faq-item">
             <summary class="chewy-regular">What can I build?</summary>
             <p class="chewy-regular">Anything to do with dogs! It could be a website, an app, or even a hardware project. As long as its shipped (accessible via a URL as either a website or executable file, or in the case of hardware is fully built.) and tracked with Hackatime, we'll take it!</p>
         </details>
         <details class="faq-item">
             <summary class="chewy-regular">How do I get a plushie?</summary>
             <p class="chewy-regular">Once you've submitted your project and it's been verified to be good practice, we'll send your dog plushie to the address you provide, if you're in the US. Or if preffered or you live internationally, we'll send out a digital credit card with $25 that you can use to buy a dog plushie.</p>
         </details>
     </div>
     </body>
     </html>